template:
  image: slidewiki/microservicetemplate:latest-dev
  restart: on-failure:5
  expose:
    - "80"
  external_links:
    - mongodb
  environment:
    - APPLICATION_PORT=80
    - DATABASE_PORT=27017
    - DATABASE_URL=mongodb # use a url or the name, defined in the docker-compose file
    - VIRTUAL_HOST=microservicetemplate.experimental.slidewiki.org
    - LETSENCRYPT_HOST=microservicetemplate.experimental.slidewiki.org
    - LETSENCRYPT_EMAIL=meissner@informatik.uni-leipzig.de
    - SERVICE_URL_DECK=http://deckservice.experimental.slidewiki.org
    - SERVICE_URL_DISCUSSION=http://discussionservice.experimental.slidewiki.org
    - SERVICE_URL_ACTIVITIES=http://activitiesservice.experimental.slidewiki.org
    - SERVICE_URL_NOTIFICATION=http://notificationservice.experimental.slidewiki.org
    - SERVICE_URL_USER=http://userservice.experimental.slidewiki.org
    - SERVICE_URL_SEARCH=http://searchservice.experimental.slidewiki.org
    - SERVICE_URL_IMAGE=http://imageservice.experimental.slidewiki.org
    - SERVICE_URL_FILE=http://fileservice.experimental.slidewiki.org
    - SERVICE_URL_PDF=http://pdfservice.experimental.slidewiki.org
    - SERVICE_URL_IMPORT=http://importservice.experimental.slidewiki.org
