service:
  image: slidewiki/microservicetemplate
  restart: on-failure:5
  expose:
    - "80"
  external_links:
    - mongodb
  environment:
    - APPLICATION_PORT=80
    - DATABASE_PORT=27017
    - VIRTUAL_HOST=microservicetemplate.185.101.156.130.xip.io
